.favCard{
  width: 320px;
  height: 260px;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  overflow: visible;
  background-color: rgb(119, 216, 245);
}
.info{
  z-index: 9;
  border-radius: 50px;
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: -12%;
  z-index: 3;
  position: absolute;
  margin-left: 50px;
  width: 220px;

}

